/*----------------//
//-----COLORS-----//
// RED:    #DC4128
// BLACK:  #000000
// WHITE:  #FFFFFF
//----------------*/

.brand {
    margin: 1em 0;
}

.brand .brand-text,
.brand .brand-address {
    display: inline-block;
    margin: 0 1em;
}


/* HEADER */

header {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a {
    cursor: pointer;
}

.brand {
    margin: 1em 0;
}

.brand .brand-text {
    display: inline-block;
    margin: 0 1em;
}


/* NAVIGATION */

header nav {
    background-color: #DC4128;
    color: white;
}

header nav button {
    color: white;
}


/* header nav .navbar-toggler.collapsed div.icon>.close, header nav .navbar-toggler:not(.collapsed) div.icon>.open {
    display:none;
} */

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

header .no-link-style,
header .no-link-style:hover {
    color: inherit;
    text-decoration: none;
    /* pointer-events:none; */
}


/* MAIN LAYOUT */

body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    background: white;
    min-width: 240px;
    min-height: 100vh;
    -webkit-text-size-adjust: none;
    /* The text size is not adjusted for Safari on iPhone */
}

body .main {
    margin: 1em 0;
}

body article {
    width: 100%;
}

body article * {
    max-width: 100%;
}

body article img {
    display: block;
    max-height: 70vh;
    width: auto;
    height: auto;
}


/* MATERIAL ORDER PAGE */

.product-entry {
    margin: 1em 0;
    background-color: #00000004;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.product-entry img {
    min-width: 100px !important;
    max-height: 100px;
    margin: 0.5em;
}

.product-name {
    font-weight: bold;
}

input.product-quantity {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
    background-color: #00000000;
    text-align: center;
}

input:focus.product-quantity {
    border-color: rgb(200, 0, 0);
    display: inline-block;
}

.submit-btn {
    width: 100%;
    color: white;
    background-color: #DC4128;
}

@media (min-width: 576px) {
    .submit-btn {
        width: auto;
    }
}

/* FOOTER */

footer {
    background-color: #1B1C1D;
    color: white;
    /* position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1000; */
}

footer .no-link-style,
footer .no-link-style:hover {
    color: inherit;
    text-decoration: none;
}
